h2{color:000000;
text-align:center;
font-size:70px;
font-family:reenie beanie}

p.sign{color:000000;
margin-left:30px;
font-size:45px;
font-family:reenie beanie}

img{display:block;
margin-left:auto;
margin-right:auto;}

